/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f9f9f9;
  --vt-c-white-mute: #f1f1f1;

  --vt-c-black: #1a1a1a;
  --vt-c-black-pure: #000000;
  --vt-c-black-soft: #242424;
  --vt-c-black-mute: #2f2f2f;

  --vt-c-indigo: #213547;
  --vt-c-indigo-soft: #476582;
  --vt-c-indigo-light: #aac8e4;
  --vt-c-indigo-light2: #d1ebea;

  /* 主色調 */
  --primary: #56c4cf; 

  /* 淺色變體 */
  --primary-light-1: #76d2da;  
  --primary-light-2: #a2e2e8;  
  --primary-light-3: #dfeef0;  

  /* 深色變體 */
  --primary-dark-1: #4bb0ba;   
  --primary-dark-2: #3c929a;   
  --primary-dark-3: #2b6f74;   

  /* 透明變體 */
  --primary-a90: rgba(86, 196, 207, 0.9);  
  --primary-a75: rgba(86, 196, 207, 0.75); 
  --primary-a50: rgba(86, 196, 207, 0.5);  
  --primary-a25: rgba(86, 196, 207, 0.25); 
  --primary-a10: rgba(86, 196, 207, 0.1); 

  /* 灰階 */
  --tw-gray-50: #f9fafb;
  --tw-gray-100: #f3f4f6;
  --tw-gray-200: #e5e7eb;
  --tw-gray-300: #d1d5db;
  --tw-gray-400: #9ca3af;
  --tw-gray-500: #6b7280;
  --tw-gray-600: #4b5563;
  --tw-gray-700: #374151;
  --tw-gray-800: #1f2937;
  --tw-gray-900: #111827;
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--color-gray);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
} */

