@font-face {
  font-family: 'NotoSansTC';
  src: url('@/assets/font/NotoSansTC-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('@/assets/font/NotoSansTC-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('@/assets/font/NotoSansTC-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold  */
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('@/assets/font/NotoSansTC-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
